/* Cereo Margenes y Padding del documento */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $colorfondo;
}

.iframe {
  text-align: center;
  padding: 1rem;
}

.tituloHeader {
  font-family: $headerFontFamily;
  font-size: $headerFontSize;
  color: $headerColor;
  text-align: $headerTextAlign;
  text-decoration: $headerTextDecoration;
  padding: 1rem;
}

.titulo {
  font-family: $tituloFontFamily;
  font-size: $tituloFontSize;
  color: $tituloColor;
  text-align: $tituloTextAlign;
  padding: 1rem;
}

.carousel-item {
  @include position(center, 5rem, 5rem, 5rem, 5rem);
  max-height: 500px;
  max-width: 500px;
  .d-block {
    position: relative;
   left: 100%;
    border: solid;
    border-style: outset;
  }
}

.aniInicio {
  background-image: linear-gradient(to right, pink, rgb(236, 204, 236));
  background-size: 200% 100%;
  transition: background-position 0.5s;
  border: 250px;
  border: solid;
  &:hover {
    background-position: 100% 0;
    font-size: xx-large;
    border: 0px;
  }
}

.texto {
  font-family: "Economica", sans-serif;
  font-size: x-large;
  color: $textoColor;
}
