//variables


//Color Fondo
$colorfondo: lemonchiffon;

//Variables Nav
$navFontFamly: verdana;
$navFontSize: large;
$navColor: indianred;

//Variables Header
$headerFontFamily: "Artifika", serif;
$headerFontSize: xx-large;
$headerColor: indianred;
$headerTextAlign: center;
$headerTextDecoration: solid;

//Variables Titulo
$tituloFontFamily: verdana;
$tituloFontSize: large;
$tituloColor: indianred;
$tituloTextAlign: center;
