//variables

//Color Fondo
$colorfondo: white;

//Variables Nav
$navFontFamly: 'Roboto', sans-serif;
$navFontSize: large;
$navColor: indianred;

//Variables Header
$headerFontFamily: 'Roboto', sans-serif;
$headerFontSize: xx-large;
$headerColor: indianred;
$headerTextAlign: center;
$headerTextDecoration: solid;

//Variables Titulo
$tituloFontFamily:'Roboto', sans-serif;
$tituloFontSize: xx-large;
$tituloColor: indianred;
$tituloTextAlign: center;

//Texto
$textoColor: rgb(87, 79, 124);
